IMAGE_TAG=v0.3.0
OIDC_AUTHORIZATION_URL=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_ISSUER=
OIDC_SCOPES=openid email profile
OIDC_TOKEN_URL=
OIDC_USERINFO_URL=
OIDC_REDIRECT_URI=https://music-together.mv-angelbachtal.de/auth/callback
PLAYBACK_OWNER=host
PUBLIC_BASE_URL=https://music-together.mv-angelbachtal.de
REQUIRE_OIDC_AUTH=1
SPONSORBLOCK_CATEGORIES=sponsor,selfpromo,interaction,intro,outro,preview,filler,music_offtopic
SPONSORBLOCK_ENABLED=1
YOUTUBE_API_KEY=
